Repository aspect-build/rules_js, pull requests merged in 2023-02, with the labels that each got.

#846 feat: add public_hoist_packages to bzlmod api
  npm/extensions.bzl
Labels: enhancement

#875 docs: remove "docker containers" from known issues
  README.md
Labels: documentation

#872 fix: fix a unit test that fails on osx
  js/private/test/BUILD.bazel
Labels: bug, test

#873 fix: fix a bug where some targets failed to build on M1
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  npm/private/test/BUILD.bazel
  npm/private/test/package.json
  npm/private/test/package_json_with_dashes_checked.bzl
  npm/private/test/repositories_checked.bzl
  pnpm-lock.yaml
Labels: bug, test

#880 feat: add npm_translate_lock(npm_package_target_name) to customize linked npm_package() target names
  docs/npm_import.md
  e2e/npm_link_package/BUILD.bazel
  e2e/npm_link_package/WORKSPACE
  e2e/npm_link_package/lib/BUILD.bazel
  e2e/npm_link_package/wrapper-lib/BUILD.bazel
  e2e/npm_link_package/wrapper-lib/subdir/BUILD.bazel
  npm/npm_import.bzl
  npm/private/npm_translate_lock.bzl
  npm/private/npm_translate_lock_generate.bzl
Labels: enhancement

#855 ci: build and run unit tests with bzlmod
  .bazelrc.common
  .github/workflows/ci.yaml
  BUILD.bazel
  MODULE.bazel
  WORKSPACE.bzlmod
  docs/BUILD.bazel
  docs/docs.bzl
  e2e/pnpm_workspace_rerooted/MODULE.bazel
  examples/js_library/two/BUILD.bazel
  examples/macro/BUILD.bazel
  js/dev_repositories.bzl
  js/private/test/BUILD.bazel
  js/private/test/expand_template/BUILD.bazel
  js/private/test/expand_template/a_expected_bzlmod
  js/private/test/expand_template/a_stamp_expected_bzlmod
  js/private/test/image/structure/BUILD.bazel
  js/private/test/image/symlink_tree.test.mjs
  js/private/test/js_binary_sh/BUILD.bazel
  npm/private/npm_translate_lock_generate.bzl
  npm/private/test/BUILD.bazel
Labels: test
